.contactar{
    width: calc(100%);
    background-color: $negro;
    padding: 4rem;

    display: block;

    @include tablet {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .contactar_titulo{
        width: calc(100%);
        color: $blanco;
        text-align: center;
        padding-bottom: 3rem 3rem 0 3rem;
        

        h3{
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $fuente_principal;
            
        }

        p{
            text-align: center;
            font-size: 2rem;
        }
    }

}
.cont_form{
    max-width: 60rem;
}
.formulario{
    padding-top: 2rem;
    display: grid;
    max-width: calc(95%);

    @include tablet {
        padding-top: 10rem;
    }

    fieldset{
        
        border: none;
        display: block;
        width: calc(100%);

        @include tablet {
            width: calc(75%);
        }

        p{
            color: $blanco;
        }
        

        label{
            color: $blanco;
            font-weight: bold;
            font-size: 3rem;
            margin-bottom: 2rem;

            .ogo{
                color: red;
                padding-left: 1rem;
            }
        }

        input,textarea{
            
            width: calc(100%);
            background-color: $negro;
            font-weight: bold;
            color: $celeste_oscuro;
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 4px solid $celeste_oscuro;
            margin-bottom: 2rem;
        }
    }

}
.alinear{
    width: calc(100%);
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;

    .btn_contacto{
        background-color: $celeste_oscuro;
        color: $blanco;
        font-size: 2rem;
        padding: 2rem 4rem;
        border-radius: 3rem;

        &:hover{
            transition: 1s;
            background-color: darken($celeste_oscuro,5);
            cursor: pointer;
        }
    }
}

.enviado{
    width: calc(100%);
    text-align: center;
    font-size: 2rem;
    background-color: $celeste_oscuro;
    color: $blanco;
    padding: 3rem;
}